/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    position: absolute;
    top: 40%;
    display: block;
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 32px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: 2px solid #6BB601;
    outline: none;
    background: transparent;
    border-radius: 100%;
    z-index: 999;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .3;
}
.slick-prev.slick-disabled, .slick-next.slick-disabled { border-color: #BEDD90; }
.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;

    opacity: .7;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -45px;
}
[dir='rtl'] .slick-prev
{
    right: -45px;
    left: auto;
}
.slick-prev:before
{
    content: url(prev.png);
}
[dir='rtl'] .slick-prev:before
{
    content: url(prev.png);
}

.slick-next
{
    right: -45px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -45px;
}
.slick-next:before
{
    content: url(next.png);
}
[dir='rtl'] .slick-next:before
{
    content: url(next.png);
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 36px;
    height: 36px;
    margin: 0 10px;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 36px;
    height: 36px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:before
{
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    content: '';
    background-color: transparent;
    border: 3px solid #6BB601;
    border-radius: 100%;
}
.slick-dots li button:hover:before { background-color: white; }

.slick-dots li.slick-active button:before {
    border-color: white;
    background-color: white;
}